// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
  h2 {
    font-size: 18px;
    margin: 5px 0;
  }
  margin: 20px 0;
}
