<h1>Product Details</h1>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @product.price %>
</p>

<p>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back to Products', products_path %>
</p>
